*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 1px;
    /* scroll-behavior: smooth; */
}

/* body{
    background-color: #FBF7EE;
} */

nav{
    display: flex;
    top: 0;
    position: fixed;
    width: 100vw;
    height: 117rem;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    padding: 0 55rem;
    z-index: 100;
}

nav ul{
    display: flex;
    list-style-type: none
}

nav .btns{
    display: flex;
    align-items: center;
}


nav ul li{
    margin-left: 89rem;
    font-family: "Poppins", sans-serif;
}

nav ul .red-btn{
    width: 141rem;
    height: 48rem;
    background: #C21C29;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Anton", sans-serif;
    color: white;
    font-size: 20rem;
}

nav ul img{
    width: 77rem;
    height: 24rem;
}

.page1{
    height: 100vh;
    background-color: #FBF7EE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page1 .soju-letters{
    font-size: 700rem;
    font-family: "Anton", sans-serif;
    color: #245930;
    opacity: 1;
    /* background: red; */
    position: absolute;
    transform: translateX(100rem);
}

.page1 .soju-bottle{
    width: 328.09rem;
    height: 872.72rem;
    transform: rotate(29.04deg) translateX(-100rem);
    position: absolute;
    opacity: 0;
    z-index: 1000;
}

.page2{
    height: 100vh;
    background-color: #FBF7EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page2 img{
    width: 271.52rem;
    height: 722.25rem;
    margin-right: 240.27rem;
    margin-top: 50rem;
    visibility: hidden;
}

.page2 .text{
    width: 1023rem;
    height: 645rem;
    font-family: "Roboto";
    font-size: 30rem;
    color: #6F6E6D;
    margin-left: 150rem;
}

.page2 .text .tittle{
    width: 974rem;
    height: 344rem;
    font-size: 100rem;
    font-family: "Anton", sans-serif;
    color: #245930;
    display: flex;
}



.page3{
    height: 100vh;
    background-color: #FBF7EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page3 img{
    width: 271.52rem;
    height: 722.25rem;
    margin-right: 228.27rem;
    margin-top: 50rem;
    visibility: hidden;
}

.page3 .text{
    width: 1091rem;
    height: 457rem;
    font-family: "Roboto";
    font-size: 30rem;
    color: #6F6E6D;
    margin-left: 150rem;
}

.page3 .text .tittle{
    width: 1091rem;
    height: 386rem;
    font-size: 128rem;
    font-family: "Anton", sans-serif;
    color: #245930;
    display: flex;
    margin-bottom: 10rem;
}

/* flavors font */
@font-face {
    font-family: 'caliban std'; /* Nombre que le darás a la fuente */
    src: url('./fonts/caliban-std.otf') format('woff2');
}

.page4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FBF7EE;
    /* background-color: #C21C29; */
    /* margin-top: 200px; */
}

.page4 .text{
    height: 420rem;
    display: flex;
    flex-direction: column;
    /* background: pink; */
    align-items: center;
    /* justify-content: center; */
    /* margin-bottom: 300rem; */
    margin-top: 200rem;
}

.page4 .text .text-flavors{
    font-family: 'Pacifico', sans-serif;
    color: #245930;
    font-size: 64rem;
    position: relative;
}

.page4 .text .text-soju{
    font-family: 'Anton', sans-serif;
    color: #245930;
    font-size: 300rem;
    position: relative;
    /* background: #6F6E6D; */
    top: -60rem;
}

.page4 .bottles{
    width: 1000rem;
    /* height: 1118.72rem; */
    background-color: transparent;
    /* background-color: aqua; */
    display: flex;
    position: relative;
    /* width: 2rem; */
    bottom: 400rem;
    display: flex;
    justify-content: center;

}

.page4 .bottles img{
    position: relative;
    width: 274.21rem;
    height: 700rem;
    margin-top: 100rem;
}

.page4 .bottles .fresh{
    left: -310rem;
    top: -50.22rem;
    transform: rotate(17.95deg);
}

.page4 .bottles .plum{
    left: -200rem;
    top: 200rem;
    transform: rotate(-37.42deg);
}

.page4 .bottles .green-grapes{
    left: 250rem;
    top: 150rem;
    transform: rotate(26.82deg);
    width: 300.21rem;
}

.page4 .bottles .grapefruit{
    left: 300rem;
    top: -200rem;
    transform: rotate(-19.15deg);
    
}


.page5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FBF7EE;
}

.page5 .text{
    height: 420rem;
    display: flex;
    flex-direction: column;
    /* background: red; */
    align-items: center;
    /* justify-content: center; */
    margin-top: 80rem;
}

.page5 .text .text-flavors{
    font-family: 'Pacifico', sans-serif;
    color: #245930;
    font-size: 64rem;
    position: relative;
}

.page5 .text .text-soju{
    font-family: 'Anton', sans-serif;
    color: #245930;
    font-size: 300rem;
    position: relative;
    /* background: #6F6E6D; */
    top: -60rem;
}

.page5 .images{
    width: 1634rem;
    height: 288rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 100rem;
}

.page5 .images .seven{
    width: 288rem;
    height: 288rem;
    margin-right: 159rem;
}

.page5 .images .k-bap{
    width: 222rem;
    height: 222rem;
    margin-right: 170rem;
}

.page5 .images .amazon{
    width: 278rem;
    height: 84rem;
    margin-right: 142rem;
}

.page5 .images .ml{
    width: 375rem;
    height: 92rem;
}

/* .bt{
    opacity: 0;
    margin-top: -100rem;
} */

a{
    text-decoration: none;
}